
.header.logo {
    margin-bottom: 4rem;
}

.header .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
    padding-top: 16px;
}

.header .container .logo {
    width: 200px;
    margin-bottom: 1rem;
}

.header .container .logo img {
    width: 100%;
    object-fit: cover;
}

.header .container .logo-description {
    font-size: 1.125rem;
    text-align: center;
    color: var(--color-white-B);
    font-family: var(--secundary-font);
}

main .container {
    display: flex;
}

main .container .posts {
    flex: 1;
}

main .container .posts .day {
    margin-bottom: 2rem;
}

main .container .posts .day header {
    display: flex;
    gap: 0 2rem;
    margin-bottom: 1.5rem;

}

main .container .posts .day header .date {
    color: var(--color-white-A);
    font-family: var(--secundary-font);
}

main .container .posts .day .mini-posts {
    margin-left: 3.5rem;
    display: flex;
    flex-direction: column;
}

main .container .posts .day .mini-posts
.post {
    display: inline-block;
    max-width: 32rem;
    /* background-color: red; */
    color: var(--color-white-B);
    line-height: 1.5rem;
}

main .container .posts .day .mini-posts
.post::after {
    content: url("../assets/line.png");
    display: flex;
}

main .container .posts .day .mini-posts
.post .category {
    font-weight: bold;
    color: var(--color-yellow)
}

main .container .posts .day .mini-posts
.post .see-more-link {
    color: var(--color-blue);
    font-size: .75rem;
}


main .container .more-info {
    max-width: 17.6rem;
    border-left: 1px solid var(--color-border-A);
    height: fit-content;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

main .container .more-info .about-us 
h3 {
    color: var(--color-white-A);
    font-weight: bold;
    font-size: 14px;
    margin-bottom: .5rem;
}

main .container .more-info .about-us 
p {
    color: var(--color-white-B);
    font-size: 14px;
    margin-bottom: 1rem;
}